# Hammerspoon specific
Spoons/
docs/

# MacOS
.DS_Store
venv/
env/

# Lua specific
*.o
*.so
*.dylib

# Logs and databases
*.log
*.sqlite

# Local config overrides
config.local.lua

# Config files
config.lua

# Clipboard Manager
clipboard_files/
clipboard_history.json