# Hammerspoon specific
Spoons/
docs/

# MacOS
.DS_Store
venv/
env/

# Lua specific
*.o
*.so
*.dylib

# Logs and databases
*.log
*.sqlite

# User configurations (ignore)
config_user.lua
config.lua

# Default configurations (don't ignore)
!config_defaults.lua
!config_user.lua.template
!config_user.lua.sample

# Clipboard Manager
clipboard_files/
clipboard_history.json

# Macro Manager
macros/
macros.json

# Shell scripts
kanata_mode_copied-to-dot-bin
install_kanata_mode.sh
